@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');
* {
  margin: 0;
  padding: 0;
}

html {
  background: #C7B7A7 url(http://www.jeplaa.site50.net/images/background1.png);
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
}

h1 a {
  color: #888;
  text-decoration: none;
}

.content {
  /* position: relative;
  top: 30px;
  width: 250px;
  margin: 0 auto; */
}

#admin {
  background: #F8F8F8;
  /*width: 45px;
  height: 40px;
  */
  color: #888;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 10px;
  font: bold 13px Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 26px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#settings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 14px 0 0;
  border: none;
  outline: none;
  color: #888;
  font-size: 20px;
}

#admin_text,
#settings {
  /* cursor: pointer; */
}

#settings:hover {
  color: #555;
}

#menu {
 /* display: none; */
}

#menu a {
  display: block;
  background: rgba(201, 255, 201, 0.51);
  width: 240px;
  height: 40px;
  padding: 0 0 0 10px;
  font: bold 13px Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #0F6708;
  line-height: 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#menu a:nth-child(2) {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#menu a:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#menu a:hover {
  color: #555;
  background: white;
}

#menu a:hover > .fa {
  color: #555;
}

#firstIcon,
#secondIcon,
#thirdIcon,
#fourthIcon {
  position: absolute;
  margin-top: 10px;
  right: 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}

#firstIcon {
  margin-right: 14px;
}

#secondIcon {
  margin-right: 11px;
}

#thirdIcon {
  margin-right: 11px;
}

#fourthIcon {
  margin-right: 13px;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #F8F8F8;
  margin-left: 15px;
}

.borderOpcoes {
  border-left: solid 1px; 
  border-right: solid 1px; 
  border-bottom: solid 1px;
}

.btAdicionar {
  /* width: 200px;
  height: 100%; */
  float: left;
  margin: 0 auto 0;
  margin-left: 21px;
  margin-bottom: 12px;
  margin-top: -34px;
}

.pulse-button {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 36px;
  height: 36px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(99, 212, 90, 0.7);
  border-radius: 100%;
  v-align: middle;
  background: rgba(38, 158, 43, 0.9);
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
}
.pulse-button:hover {
  animation-play-state: paused;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}