@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/cadastro\.scss}line{font-family:\000031}}
.fundoCadastro {
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url("../images/cadastro.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: auto;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/cadastro\.scss}line{font-family:\0000318}}
#mainWrap {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 96px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/cadastro\.scss}line{font-family:\0000324}}
#xlogin {
  border-radius: 25px;
  border: 0px dotted white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 480px;
  padding: 20px 40px;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/cadastro\.scss}line{font-family:\0000339}}
#xlogin h1 {
  text-align: center;
  font-weight: 700;
  margin: 5px 0 15px;
  color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/cadastro\.scss}line{font-family:\0000346}}
#xlogin h3 {
  text-align: center;
  font-size: 18px;
  color: #bbb;
  margin: 0 0 20px;
}

/*
a:focus {
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.vis-hidden {
  visibility: hidden !important;
}

a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#xlogin .input-group-addon {
  border: 0 none;
}

#xlogin .form-control {
  border: 0 none;
}

#xlogin .form-control:focus {
  box-shadow: none;
}

#xlogin .formSubmit {
  margin-bottom: 25px;
}

#xlogin .submitWrap {
  text-align: right;
}

#xlogin .formNotice {
  margin: 0;
  font-size: 13px;
}

#xlogin .formNotice span {
  cursor: pointer;
  color: #428BCA;
}

#xlogin .formNotice2 {
  margin: 0;
  font-size: 13px;
}

#xlogin .formNotice2 span {
  cursor: pointer;
  color: #428BCA;
}

#xlogin .formNotice span:hover,
#xlogin .formNotice span:focus {
  color: #2A6496;
  text-decoration: underline;
}

#xlogin #regForm {
  display: none;
}*/
