@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\000031}}
body {
  background: #EEE;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\000035}}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000311}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000314}}
.clearfix {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000318}}
.container {
  position: relative;
  margin: 0px auto;
  padding: 50px 0;
  clear: both;
}

@media only screen and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000325}}
  .container {
    width: 1210px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000331}}
  .container {
    width: 1030px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000337}}
  .container {
    width: 682px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000343}}
  .container {
    width: 428px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 479px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000350}}
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000357}}
.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  height: 83px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000367}}
.mcd-menu li {
  float: left;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000371}}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  text-align: center;
  color: #777;
  border-right: 1px solid #E7E7E7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000379}}
.mcd-menu li a i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000384}}
.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000388}}
.mcd-menu li a small {
  display: block;
  font-size: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\0000393}}
.mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003102}}
.mcd-menu li:hover > a i {
  opacity: 1;
  -webkit-animation: moveFromTop 300ms ease-in-out;
  animation: moveFromTop 300ms ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003110}}
.mcd-menu li:hover a strong {
  opacity: 1;
  -webkit-animation: moveFromLeft 300ms ease-in-out;
  animation: moveFromLeft 300ms ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003118}}
.mcd-menu li:hover a small {
  opacity: 1;
  -webkit-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003127}}
.mcd-menu li:hover > a {
  color: #147B25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003130}}
.mcd-menu li a.active {
  position: relative;
  color: #147B25;
  border: 0;
  border-top: 4px solid #147B25;
  border-bottom: 4px solid #147B25;
  margin-top: -4px;
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003141}}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  border-top: 5px solid #147B25;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003208}}
.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  border-top: 4px solid #147B25;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  top: 130px;
  z-index: 1000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003227}}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 23%;
  border-bottom: 5px solid #147B25;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003236}}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003243}}
.mcd-menu li ul li {
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003246}}
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003252}}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003257}}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #147B25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003263}}
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -14px;
  border-right: 5px solid #147B25;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003272}}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003279}}
.mcd-menu li.float {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003282}}
.mcd-menu li a.search {
  padding: 29px 20px 30px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003285}}
.mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003290}}
.mcd-menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003297}}
.mcd-menu li a.search button {
  border: 1px solid #147B25;
  padding: 10px;
  background: #147B25;
  outline: none;
  color: #FFF;
  margin-left: -4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003305}}
.mcd-menu li a.search input:focus {
  border: 1px solid #147B25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003310}}
.search-mobile {
  display: none !important;
  background: #147B25;
  border-left: 1px solid #147B25;
  border-radius: 0 3px 3px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003316}}
.search-mobile i {
  color: #FFF;
  margin: 0 !important;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003323}}
  .mcd-menu li a.search input {
    width: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003329}}
  .mcd-menu {
    height: 85px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003332}}
  .mcd-menu li a {
    padding: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003335}}
  .mcd-menu li a i {
    font-size: 22px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003338}}
  .mcd-menu li a strong {
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003341}}
  .mcd-menu li a small {
    font-size: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003344}}
  .mcd-menu li a.search {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003347}}
  .search-mobile {
    display: block !important;
    margin: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003354}}
  .mcd-menu li:hover > ul {
    top: 85px;
    min-width: 180px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003358}}
  .mcd-menu li ul li > ul {
    min-width: 150px;
    left: 200px;
    top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003363}}
  .mcd-menu li ul li:hover > ul {
    min-width: 150px;
    left: 180px;
    top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003368}}
  .mcd-menu li ul li ul li ul {
    min-width: 150px;
    left: 25px !important;
    top: 54px;
    border: 0;
    border-top: 3px solid #147B25;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003375}}
  .mcd-menu li ul li ul li:hover ul {
    top: 35px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003378}}
  .mcd-menu li ul li ul li ul:before {
    border: 0;
    border-bottom: 5px solid #147B25;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 10%;
    top: -8px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003386}}
  .mcd-menu li:hover ul a {
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003389}}
  .mcd-menu li:hover ul a i {
    font-size: 14px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003395}}
  .mcd-menu {
    height: 42px;
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003399}}
  .mcd-menu li a {
    padding: 12px 17.7px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003402}}
  .mcd-menu li a strong, .mcd-menu li a small, .mcd-menu li a.search {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003405}}
  .mcd-menu li a i {
    margin: 0;
    font-size: 18px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003409}}
  .mcd-menu li {
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003412}}
  .mcd-menu li ul {
    min-width: 100%;
    left: 0;
    top: 50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003417}}
  .mcd-menu li:hover > ul {
    top: 42px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003420}}
  .mcd-menu li > ul:before {
    border: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003423}}
  .mcd-menu li ul > li {
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003426}}
  .mcd-menu li ul li:hover > ul {
    left: 34px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003429}}
  .mcd-menu li a {
    position: relative;
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003433}}
  .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
    display: block;
    font-size: 10px;
    padding: 3px 0;
    position: absolute;
    top: -20px;
    left: 0;
    background: #147B25;
    color: #FFF;
    min-width: 100%;
    text-transform: lowercase;
    font-weight: normal;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003446}}
  .mcd-menu li a.active:before {
    left: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003449}}
  .search-mobile {
    display: block !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003453}}
  .mcd-menu li ul li > ul {
    min-width: 200px;
    left: 200px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003457}}
  .mcd-menu li ul li:hover ul {
    left: 180px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003460}}
  .mcd-menu li ul li ul:before {
    left: -9px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003463}}
  .mcd-menu li ul li ul li ul {
    min-width: 200px;
    border: 0;
    border-top: 3px solid #147B25;
    left: 25px !important;
    top: 45px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003470}}
  .mcd-menu li ul li ul li:hover ul {
    top: 40px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003473}}
  .mcd-menu li ul li ul li ul:before {
    border: 0;
    border-bottom: 5px solid #147B25;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 10%;
    top: -8px;
  }
}
@media only screen and (max-width: 479px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003484}}
  .mcd-menu {
    height: 42px;
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003488}}
  .mcd-menu li a strong, .mcd-menu li a small, .mcd-menu li a.search {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003491}}
  .mcd-menu li a {
    padding: 12px 13.8px;
    font-size: 12px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003495}}
  .mcd-menu li a i {
    margin: 0;
    font-size: 18px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003499}}
  .mcd-menu li {
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003502}}
  .mcd-menu li ul {
    min-width: 100%;
    left: 0;
    top: 50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003507}}
  .mcd-menu li:hover > ul {
    top: 42px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003510}}
  .mcd-menu li > ul:before {
    border: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003513}}
  .mcd-menu li ul > li {
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003516}}
  .mcd-menu li ul li:hover > ul {
    left: 34px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003519}}
  .mcd-menu li a {
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003522}}
  .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
    display: block;
    font-size: 10px;
    padding: 3px 0;
    position: absolute;
    top: -20px;
    left: 0;
    background: #147B25;
    color: #FFF;
    min-width: 100%;
    text-transform: lowercase;
    font-weight: normal;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003535}}
  .mcd-menu li a.active:before {
    left: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003539}}
  .mcd-menu li ul li > ul {
    min-width: 150px;
    left: 160px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003543}}
  .mcd-menu li ul li:hover ul {
    left: 120px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003546}}
  .mcd-menu li ul li ul:before {
    left: -9px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003549}}
  .mcd-menu li ul li ul li ul {
    min-width: 160px;
    left: 25px !important;
    top: 39px;
    border: 0;
    border-top: 3px solid #147B25;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003556}}
  .mcd-menu li ul li ul li:hover ul {
    top: 39px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/gabriel\/workspace\/apostas-front-end\/app\/styles\/menu\.scss}line{font-family:\00003559}}
  .mcd-menu li ul li ul li ul:before {
    border: 0;
    border-bottom: 5px solid #147B25;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 10%;
    top: -8px;
  }
}
