<div class="admin-panel clearfix">
	<div class="content">
	 	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 100%; text-align: center;">
		 	<div ng-click="abrir()" style="width: 47px; padding-left: 0;">
	 			<div ng-click="abrir()" style="padding-left: 0; background-color: white; color: #147B25;" id="admin"><b id="admin_text" 
	 				class="fa fa-align-justify"></b>
	 			</div>
		  	</div>
			<div ng-show="aberto" id="menu" ng-mouseleave="fechar()" style="margin-top: 10px; position: absolute; z-index: 100;">
		    	<a href="" ng-click="abrirOpcao(1)" 
		    		style="border: solid 1px;">Usuários<i id="firstIcon" class="fa fa-user" style="color: green;"></i></a>
		    	<a href="" ng-click="abrirOpcao(2)" class="borderOpcoes">Times<i id="secondIcon" class="fa fa-ra" style="color: green;"></i></a>
		    	<a href="" ng-click="abrirOpcao(3)" class="borderOpcoes">Torneios<i id="thirdIcon" class="fa fa-trophy" style="color: green;"></i></a>
		    	<a href="" ng-click="abrirOpcao(4)" class="borderOpcoes">Estatísticas<i id="thirdIcon" class="fa fa-bar-chart-o" style="color: green;"></i></a>
		  	</div>
	  	</div>
  	</div>
</div>