<div class="container">
	<form role="form">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2">
				<div class="form-group">
	                <input type="text" name="rodada" id="rodada" class="form-control input-lg" placeholder="" ng-model="torneio.rodada.numero" disabled>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2">
				<div class="form-group">
	                <input type="text" name="rodada" id="rodada" class="form-control input-lg" placeholder="Data" tabindex="1" ng-model="torneio.rodada.time1">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="form-group">
	                <input type="text" name="rodada" id="rodada" class="form-control input-lg" placeholder="Time A" tabindex="2" ng-model="torneio.rodada.time1">
				</div>
			</div>
			<div class="col-xs-12 col-sm-1 col-md-1">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABN0lEQVQ4T6WTPUsDQRCGnw348WMUxEIs7CQXLOys7KxErhGr219wqVIIIVjZWVjZiRELwUIstDD/JYriyRyz697eJgoebHMz8+zMu+8Y/vkZV1+B6UPXwnges4SsgFsDleTVACkewBA4MmBPoJ+CDKAASgOjY8gFUgNOITNw44o6YPMIMoSigtLlGOjlMPYjnCk9uNkeKkRiJiiuwMc8QArPExCd098sxQdBdw2AJF+0Ww3lsPvRaC2AZF9GLWuS3UuImwRcRQCBirC7fwFct3VojLAzb4S7GSLK24evs50S8R6KTvOd7ZYmPrSF9bFag0fIUCPJD3HjRtTqUwSpoLfpjCRWflErA3Z9hpWff8QdrYVWdvswge7qL8v0CtlKvEwq0CKwHJwlYEEX7gv4AN6BNz1T4PMbJnRWEZwDALwAAAAASUVORK5CYII=" width="30px" height="30px" style="margin-top: 7px;">
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="form-group">
	                <input type="text" name="rodada" id="rodada" class="form-control input-lg" placeholder="Time B" tabindex="3" ng-model="torneio.rodada.time2">
				</div>
			</div>
			<div class="col-xs-12 col-sm-1 col-md-1">
				<button type="submit" class="btn btn-primary" >Adicionar <span class="glyphicon glyphicon-send"></span></button>
			</div>
		</div>
	</form>
</div>